@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;

  --body-bg-color: #102027;
  --main-bg-color: #37474f;
  --secondary-color: #263238;
  --aside-text-color: #ffffff;
  --accent-color: #ffab00;
  --main-text-color: #e2f1f8;
  --fade-text-color: #b0bec5;
  --line-color: #4f5b62;
  --r-title-color: #eceff1;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--body-bg-color);
}

.main-container {
  position: relative;
  display: grid;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: var(--main-bg-color);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 0 100000px rgba(255, 171, 0, 0.16);
  grid-template-columns: 1fr 2fr;
}

.main-container .left-column {
  position: relative;
  padding: 40px;
  background: var(--secondary-color);
  color: var(--aside-text-color);
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--line-color);
}

.profile .image-wrapper {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile h1 {
  margin-top: 20px;
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: 0.2em;
  line-height: 1.4em;
  text-align: center;
  text-shadow: 0 9px 12px rgba(0, 0, 0, 0.14), 0 3px 16px rgba(0, 0, 0, 0.12), 0 5px 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.profile h1 span {
  font-size: 0.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.contacts {
  padding-top: 40px;
}

.left-title {
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contacts ul {
  position: relative;
}

.contacts ul li {
  position: relative;
  margin: 10px 0;
  list-style: none;
}

.contacts ul li .icon {
  display: inline-block;
  width: 30px;
  color: var(--accent-color);
  font-size: 18px;
}

.contacts ul li a {
  color: var(--aside-text-color);
  font-weight: 300;
  text-decoration: none;
}

.contacts ul li a:hover {
  color: var(--accent-color);
}

.contacts.education li {
  margin-bottom: 15px;
}

.contacts.education h5 {
  color: var(--accent-color);
  font-weight: 500;
}

.contacts.education h4:nth-child(2) {
  font-weight: 500;
}

.contacts.education h4 {
  font-weight: 300;
}

.contacts.languages .percent {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  margin-top: 5px;
  background: var(--line-color);
}

.contacts.languages .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--accent-color);
}

.main-container .right-column {
  position: relative;
  padding: 40px;
  background: var(--main-bg-color);
}

.about-me {
  margin-bottom: 50px;
}

.about-me:last-child {
  margin-bottom: 0;
}

.right-title {
  margin-bottom: 10px;
  color: var(--r-title-color);
  text-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

p {
  color: var(--main-text-color);
}

.about-me .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about-me .box .project-info {
  min-width: 120px;
  color: var(--fade-text-color);
  font-size: 1.2em;
  font-weight: 400;
}

.about-me .box .text h4 {
  color: var(--accent-color);
  text-transform: uppercase;
}

.my-skills .box {
  position: relative;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-template-columns: 120px 1fr;
}

.my-skills .box h4 {
  color: var(--fade-text-color);
  font-weight: 500;
  text-transform: uppercase;
}

.my-skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: var(--line-color);
}

.my-skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--accent-color);
}

.my-interests ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
}

.my-interests ul li {
  margin: 10px 10px;
  color: var(--main-text-color);
  font-weight: 500;
  list-style: none;
}

.my-interests ul li .fas {
  color: var(--accent-color);
  font-size: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid var(--line-color);
  color: var(--fade-text-color);
}

footer > * {
  margin-top: 5px;
}

footer a {
  color: var(--fade-text-color);
  font-size: 15px;
  text-decoration: none;
}

footer a:hover {
  color: var(--accent-color);
  fill: #ffab00;
}

.rsschool {
  fill: #b0bec5ff;
}

.rsschool:hover {
  fill: #ffab00ff;
}

@media (max-width: 1000px) {
  .main-container {
    margin: 10px;
  }
}

@media (max-width: 900px) {
  .main-container {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-me .box {
    flex-direction: column;
  }

  .about-me .box .project-info {
    margin-bottom: 5px;
  }

  .my-skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  .main-container .left-column {
    padding: 20px;
  }

  .main-container .right-column {
    padding: 20px;
  }
}
